.track {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 40px;
  width: 500px;

  &__common {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50px;
  }
  &__name {
    display: inline-block;
    margin-right: 59px;
    display: inline-block;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__name-text {
    font-family: NunitoSans;
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #5586f2;
    text-align: left;
    // white-space: nowrap;
  }

  &__time {
    background: #e7e8ea;
    width: 117px;
    border-radius: 6px;
    border: 1px;
    margin-right: 42px;
  }

  &__active {
    background-color: #ff487626;
  }

  &__passive {
    background: #e7e8ea;
  }

  &__time-text {
    font-family: NunitoSans;
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #676c75;
  }

  &__button {
    width: 59px;
    height: 50px;
    margin-right: 20px;
    border: none;
    background-color: none;
  }

  &__control {
    display: flex;
  }
}
