.header {
  max-width: auto;
  height: auto;
  background-image: url(/public/header.jpg);
  object-fit: contain;
  background-repeat: no-repeat;
  padding: 30px 135px 180px 135px ;
  background-size: cover;
}

.navPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: auto;
  height: auto;

  &__left {
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #ffffff;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__right-menu {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #ffffff;
    margin-left: 31px;
    white-space: nowrap;
  }
}

.tablet {
  margin-top: 230px;
  height: 310px;
  max-width: 555px;

  &__logo {
    border-radius: 15%;
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    padding: 5.62px;
    margin-bottom: 33px;
  }

  &__logo-img {
    width: 78.75px;
    height: 78.75px;
  }

  &__text {
    font-family: NunitoSans;
    font-weight: 300;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 37px;
  }

  &__bottoms {
    overflow: hidden;
  }
}
