* {
  box-sizing: border-box;
}

body {
  font-family: NunitoSans, sans-serif;
}

.boldText {
  font-weight: 800;
}

.button {
  width: 165px;
  height: 50px;
  background-size: 165px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  overflow: hidden;
  border-radius: 7px;
  white-space: nowrap;

  &__orange {
    background-image: url(/public/Base.jpg);
    color: #fff;
  }

  &__white {
    background: white;
    color: black;
    margin-left: 20px;
  }
}

.square {
  max-width: auto;
  height: auto;
  background: blue;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inner_square {
  width: 100px;
  height: 100px;
  background: aqua;
  margin: 10px;
}

.outer {
  max-width: auto;
}

.inner_square {
  width: 100px;
  height: 100px;
  background: aqua;
  margin: 10px;
}

.outer {
  max-width: auto;
}
