* {
  box-sizing: border-box;
}

body {
  font-family: NunitoSans, sans-serif;
  background-color: #e5e5e5;
}

.boldText {
  font-weight: 800;
}

.button {
  min-width: 167px;
  height: 50px;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #fff;
  border-radius: 6px;
  border: none;
  background: linear-gradient(135deg, #ff8e64, #ffe641);
  box-shadow: 0 6px 12px #282b3114;

  &__orange {
    background-image: url(/public/images/button/Base.jpg);
    color: #fff;
  }

  &__white {
    background: #f8f9fa;
    color: #282b31;
    font-weight: 600;
  }
}

.square {
  max-width: auto;
  height: auto;
  background: blue;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inner_square {
  width: 100px;
  height: 100px;
  background: aqua;
  margin: 10px;
}

.outer {
  max-width: auto;
}

.inner_square {
  width: 100px;
  height: 100px;
  background: aqua;
  margin: 10px;
}

.outer {
  max-width: auto;
}
